<!DOCTYPE html>
<html ng-app="MindlogMaster">
    <head>
        <meta charset="utf-8">
        <title>mindlog</title>
        <link href='http://fonts.googleapis.com/css?family=Share+Tech+Mono' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="/css/styles.css">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.5/angular.js" charset="utf-8"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.5/angular-cookies.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.6/d3.js" charset="utf-8"></script>

    <style type="text/css">
        .bar rect
        {
            fill: lightyellow;
            stroke: black;
        }
        .label
        {
            font-family: 'Share Tech Mono', ;
            font-size: 15pt;
            color: gray;
            fill-opacity: .6;
        }
        .value
        {
            font-family: 'Share Tech Mono', ;
            font-size: 15pt;
            color: gray;
            fill-opacity: .6;
        }

        .tick_label
        {
            font-family: 'Share Tech Mono', ;
            font-size: 15pt;
            color: gray;
            fill-opacity: .6;
        }
    </style>


    </head>
    <body>

        <section ng-controller="UsersController">

            <div class="meta-information">
            <h3>
            {{ welcome }}
            </h3>
            </div>

            <div class="sign-up">
                <h3>Sign Up:</h3>
                <form ng-submit="createUser()">
                    <input type="text" ng-model="newUser.username" placeholder="...username">
                    <input type="password" ng-model="newUser.password" placeholder="...password">
                    <input type="submit">
                </form>
            </div>

            <div class="log-in">
                <h3>Log In:</h3>
                <form ng-submit="obtainToken()">
                    <input type="text" ng-model="loginUser.username" placeholder="...username">
                    <input type="password" ng-model="loginUser.password" placeholder="...password">
                    <input type="submit">
                </form>
            </div>

            <div class="new-mindlog">
          <form ng-submit='createMindlog()'>
              <input ng-model='newMindlog.entry' type="text" placeholder="...entry">
              <input type="submit">
          </form>
      </div>

            <div ng-repeat="user in users">
              <h4>{{ user.username }}</h4>
            </div>


        </section>

      <script type="text/javascript"> -->
<!-- // spikin for chart from bar chart tutorial video
        var data = [
            {"label":"1990", "value":16},
            {"label":"1991", "value":56},
            {"label":"1992", "value":7},
            {"label":"1993", "value":77},
            {"label":"1994", "value":22},
            {"label":"1995", "value":16},
        ];

// maximum of data you want to use
var data_max = 80,

//number of tickmarks to use
num_ticks = 5,

//margins
left_margin = 60,
right_margin = 60,
top_margin = 30,
bottom_margin = 0;

var w = 500,    //width
    h = 700,    //height
    color = function(id) { return '#00b3dc' };

var x = d3.scale.linear()
    .domain([0, data_max])
    .range([0, w - ( left_margin + right_margin )]),
    y = d3.scale.ordinal()
    .domain(d3.range(data.length))
    .rangeBands([bottom_margin, h - top_margin], .5);

var chart_top = h - y.rangeBand()/2 - top_margin;
var chart_bottom = bottom_margin + y.rangeBand()/2;
var chart_left = left_margin;
var chart_right = w - right_margin;

// Setup the SVG element and position it

var vis = d3.select("body")
    .append("svg:svg")
        .attr("width", w)
        .attr("height", h)
    .append("svg:g")
        .attr("id", "barchart")
        .attr("class", "barchart")

//ticks
var rules = vis.selectAll("g.rule")
    .data(x.ticks(num_ticks))
.enter()
    .append("svg:g")
    .attr("transform", function(d)
        {
        return "translate(" + (chart_left + x(d)) + ")";
    });

rules.append("svg:line")
    .attr("class", "tick")
    .attr("y1", chart_top)
    .attr("y2", chart_top + 4)
    .attr("stroke", "black");

rules.append("svg:text")
    .attr("class", "tick_label")
    .attr("text-anchor", "middle")
    .attr("y", chart_top)
    .text(function(d)
    {
    return d;
    });


var bbox = vis.selectAll(".tick_label").node().getBBox();
vis.selectAll(".tick_label")
    .attr("transform", function(d)
    {
        return "translate(0," + (bbox.height) + ")";
    });

var bars = vis.selectAll("g.bar")
    .data(data)
.enter()
    .append("svg:g")
        .attr("class", "bar")
        .attr("transform", function(d, i){
            return "translate(0, " + y(i) + ")";
        });

bars.append("svg:rect")
    .attr("x", right_margin)
    .attr("width", function(d) {
        return (x(d.value));
        })
    .attr("height", y.rangeBand())
    .attr("fill", color(0))
    .attr("stroke", color(0));

//Labels
var labels = vis.selectAll("g.bar")
    .append("svg:text")
        .attr("class", "label")
        .attr("x", 0)
        .attr("text-anchor", "right")
        .text(function(d) {
            return d.label;
        });

var bbox = labels.node().getBBox();
vis.selectAll(".label")
    .attr("transform", function(d) {
        return "translate(0, " + (y.rangeBand()/2 + bbox.height/4) + ")";
    });

    labels = vis.selectAll("g.bar")
        .append("svg:text")
            .attr("class", "value")
            .attr("x", function(d)
                {
                return x(d.value) + right_margin + 10;
                })
            .attr("text-anchor", "left")
            .text(function(d)
            {
            return "" + d.value + "%";
            });
    bbox = labels.node().getBBox();
    vis.selectAll(".value")
        .attr("transform", function(d)
        {
            return "translate(0, " + (y.rangeBand()/2 + bbox.height/4) + ")";
        });





//Axes
vis.append("svg:line")
    .attr("class", "axes")
    .attr("x1", chart_left)
    .attr("x2", chart_left)
    .attr("y1", chart_bottom)
    .attr("y2", chart_top)
    .attr("stroke", "black");
vis.append("svg:line")
    .attr("class", "axes")
    .attr("x1", chart_left)
    .attr("x2", chart_right)
    .attr("y1", chart_top)
    .attr("y2", chart_top)
    .attr("stroke", "black");





        </script>



        <script src="/js/app.js" charset="utf-8"></script>

    </body>
</html>
